 <button (click)="descSeat()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat1()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat2()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat3()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat4()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat5()"> <img src="assets/images/available_seat_img.gif"/></button>
 <!-- <button (click)="descSeat6()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat7()"> <img src="assets/images/available_seat_img.gif"/></button><br/>

 <button (click)="descSeat8()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat9()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat10()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat11()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat12()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat13()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat14()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat15()"> <img src="assets/images/available_seat_img.gif"/></button><br/>

 <button (click)="descSeat16()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat17()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat18()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat19()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat20()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat21()"> <img src="assets/images/available_seat_img.gif"/></button>
<button (click)="descSeat22()"> <img src="assets/images/available_seat_img.gif"/></button>
<button (click)="descSeat23()"> <img src="assets/images/available_seat_img.gif"/></button><br/>

<button (click)="descSeat24()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat25()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat26()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat27()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat28()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat29()"> <img src="assets/images/available_seat_img.gif"/></button>
<button (click)="descSeat30()"> <img src="assets/images/available_seat_img.gif"/></button>
<button (click)="descSeat31()"> <img src="assets/images/available_seat_img.gif"/></button><br/>

<button (click)="descSeat32()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat33()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat34()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat35()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat36()"> <img src="assets/images/available_seat_img.gif"/></button>
 <button (click)="descSeat37()"> <img src="assets/images/available_seat_img.gif"/></button>
<button (click)="descSeat38()"> <img src="assets/images/available_seat_img.gif"/></button>
<button (click)="descSeat39()"> <img src="assets/images/available_seat_img.gif"/></button><br/> -->
 <p>{{this.NoOfSeats}}</p>